.homeHeader{
    background-image: url('../../asset/Deacha-Recovered1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 85vh;
}
.homeHeaderContent{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top:10%;
}
.hContentLeft{
    font-size: 72px;
    font-weight: 700;
    line-height: 60pt;
    width: 45%;
}
.hContentLefttextBot{
    font-size: 12pt;
    font-weight: 400;
    
    line-height: 20pt;
}

/* ==========  HOME BAR  ==================*/
.homeBarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.homeNav{
    cursor: pointer;
    padding: 5px 10px;
}
.homeNav p{
    margin-bottom: 0;
}
.homeNav:hover{
    background-color: #fa479a;
    border-radius: 6px;
    color: white;
}
.hContentLeftSignUp{
    font-size: 12pt;
    font-weight: 400;
    line-height: 20pt;
}

/* ============ HOME CARD =========== */

.homeBodyContainer{
    display: flex;
    justify-content:  flex-start;
    flex-wrap: wrap;
}
.homeCard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
    max-width: 275px;
    height: 275px;
    border-radius: 6px;
    background-color: #b7f4ff;
    cursor: pointer;
}
.homeCardContent {
    width: 100%;
    height: 75%;
    text-align: center;
    background-color: rgba(252, 250, 250, 0.898);
}
.homeCardContent img {
    height: 100%;;
}

.homeCardContentBot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.homeCardContentBotItem{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.homeCardContentBotItem span{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
.homeCardContentBot .homeCardContentBotItem img{
    height:30px !important;
    border-radius: 50%;
    background-size: cover;
}